.EmPwFound-Top 
{
    text-align: center;
    margin-bottom: 50px;
}

input[id='Email']
{
    width: 320px;
    padding: 20px 5px 20px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    caret-color: #03ab95;
    background-color: #f5f5f5;
    font-size:15px;
}

.Send.enabled
{
    margin-left: 10px;
    width: 100px;
    height: 55px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
    margin-top: -3px;
}

.Send.disabled
{
    margin-left: 10px;
    width: 100px;
    height: 55px;
    border: solid 1px #dddddd;
    background: #aaaaaa;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
    margin-top: -3px;
    pointer-events: none;
}


.inFor
{
    margin: 0px 120px 30px 120px;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.EmPwFoundL
{
    width: 460px;
    border: solid 3px #6767ff;
    padding: 20px;
    border-radius: 20px;
}

.Send:active
{
    margin-left: 10px;
    width: 100px;
    height: 55px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
    margin-top: -3px;
    opacity: 90%;
}

