button 
{
    position: relative;
    font-size: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    border: none;
    background: none;
    overflow: visible;
    text-align: center;
    background-color: #fff;
    border-radius: 0;
    padding: 0;
    border: 0;
    user-select: none;
}

label 
{
    font-weight: bold;
}

/*회원가입 테이블 */

.SignT {
    position:relative;
}

.SignInput {
    display: inline-block;
}

.Sign-Top 
{
    text-align: center;
    margin-bottom: 50px;
}

.LOGO
{
    width: 192px;
    height: 102px;
}

/*---------------*/

/*성공여부*/

.email.success
{
    border: solid 2px green;
}

.email.error
{
    border: solid 2px red;
}

.emailMessage.success
{
   display: none;
}

.emailMessage.error
{
    margin: 0px;
    padding: 0px;
    color:red;
    font-size: 15px;
}

.emailCert.success
{
    border: solid 2px green;
    pointer-events: none;
}

.emailCert.error
{
    border: solid 2px red;
}

.emailCertMessage.success
{
   display: none;
}

.emailCertMessage.error
{
    margin: 0px;
    padding: 0px;
    color:red;
    font-size: 15px;
}

.Pw.success
{
    border: solid 2px green;
}

.Pw.error
{
    border: solid 2px red;
}

.PwMessage.success
{
    display: none;
}

.PwMessage.error
{
    margin: 0px;
    padding: 0px;
    color:red;
    font-size: 15px;
}

.PwConfirm.success
{
    border: solid 2px green;
}

.PwConfirm.error
{
    border: solid 2px red;
}

.PwConfirmMessage.success
{
   display: none;
}

.PwConfirmMessage.error
{
    margin: 0px;
    padding: 0px;
    color:red;
    font-size: 15px;
}

.Nickname.success
{
    border: solid 2px green;
}

.Nickname.error
{
    border: solid 2px red;
}

.NicknameMessage.success
{
    display: none;
}

.NicknameMessage.error
{
    margin: 0px;
    padding: 0px;
    color:red;
    font-size: 15px;
}

.emailCertBtnMessage.success
{
    display: none;
}

.emailCertBtnMessage.error
{
    margin: 0px;
    padding: 0px;
    color:red;
    font-size: 15px;
}

.CertCheck.success
{
    margin-left: 10px;
    width: 100px;
    height: 55px;
    border: solid 1px #dddddd;
    background: #aaaaaa;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
    pointer-events: none;
}

.CertCheck.error
{
    margin-left: 10px;
    width: 100px;
    height: 55px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
}

/*-------------------------*/

/* 인풋 */

input[id="email"]
{
    width: 140px;
    height: 20px;
    padding: 20px 5px 20px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    caret-color: #03ab95;
    background-color: #f5f5f5;
    font-size:15px;
}

input[id="emailCert"]
{
    width: 320px;
    padding: 20px 5px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    caret-color: #03ab95;
    background-color: #f5f5f5;
    font-size:15px;   
}

input[id="Pw"]
{
    width: 435px;
    padding: 20px 5px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    caret-color: #03ab95;
    background-color: #f5f5f5;
    font-size:15px;
}

input[id="PwConfirm"]
{
    width: 435px;
    padding: 20px 5px 20px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    caret-color: #03ab95;
    background-color: #f5f5f5;
    font-size:15px;
}

input[id="Nickname"]
{
    width: 435px;
    padding: 20px 5px 20px 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    border: none;
    border-radius: 10px;
    caret-color: #03ab95;
    background-color: #f5f5f5;
    font-size:15px;
}

input:focus
{
    border: none;
    outline: none;
    border: solid 2px #6767ff;
    border-radius: 10px;
}

/*-----------------------------------*/

/*인증*/

.Cert:active
{
    margin-left: 10px;
    width: 100px;
    height: 55px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
    opacity: 90%;
}

.CertCheck
{
    margin-left: 10px;
    width: 100px;
    height: 55px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
}

.CertCheck:active
{
    margin-left: 10px;
    width: 100px;
    height: 55px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
    opacity: 90%;
}

.emailcheckCert
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*-------------*/

/*값확인*/

.PwCheck
{
    margin-top: 15px;
}

.PwConfirmCheck
{
    margin-top: 15px;
}

.NicknameCheck
{
    margin-top: 15px;
}

.emailcheck
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*----------*/

/* 버튼 */
.SIGNbtn
{
    position: absolute;
    width: 460px;
    padding: 15px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 100%;
}

.SIGNbtn:active 
{
    width: 460px;
    padding: 15px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 100%;
    opacity: 90%;
}

.SIGNBTN
{
    margin-top: 70px;
}

.SIGNbtn:disabled
{
    width: 460px;
    padding: 16px;
    border: solid 1px #dddddd;
    background: #aaaaaa;
    border-radius: 0.4rem;
    color:white;
    font-size: 100%;
    pointer-events: none;
}

.Cert.enabled
{
    margin-left: 162px;
    margin-top: -4px;
    width: 100px;
    height: 55px;
    background: linear-gradient( 45deg, #55aaff , #6767ff );
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
}

.Cert.disabled
{
    margin-left: 162px;
    margin-top: -4px;
    width: 100px;
    height: 55px;
    border: solid 1px #dddddd;
    background: #aaaaaa;
    border-radius: 0.4rem;
    cursor: pointer;
    color:white;
    font-size: 15px;
    pointer-events: none;
}

/*------------*/

.emailCheckT.disibled
{
    display:none;
}

.emailCheckT.visibled
{
    display:block;
    margin-top: 15px;

}

.title
{
    color: #6767ff;
    font-weight: bold;
    font-size: 20px;
}

.infor
{
    margin: 0px 154px 45px 154px;
    width: 130px;
    border: solid 3px #6767ff;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}

.selectbox.empty
{
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 20px;
    border: none;
    background-color: #f5f5f5;
    font-size:15px;
    border-radius: 10px;
    outline: none;
    padding: 20px 5px 20px 20px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    z-index: 0;
}

.selectbox.full
{
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 20px;
    border: none;
    background-color: #f5f5f5;
    font-size:15px;
    border: solid 2px #6767ff;
    border-radius: 10px;
    outline: none;
    padding: 20px 5px 20px 20px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
    z-index: 0;
}

.optionlist li
{
    padding: 10px 0px 10px 0px;
    text-align: center;
    cursor: pointer;
}

.optionlist li:hover
{
    background-color: #6767ff;
    border-radius: 5px;
}


.emailtext
{
    font-size: 25px;
    margin: 0px 10px 0px 10px;
}

.Allow.empty
{
    position: absolute;
    margin-left: 110px;
}

.Allow
{
    position: absolute;
    margin-left: 110px;
    margin-top: -1px;
}

.Value
{
    position: absolute;
    margin-top: 3px;
}

.optionlist.empty
{
    display: none;
    position: absolute;
    background: #f5f5f5;
    margin: 53px 0px 0px -14px;
    list-style: none;
    padding: 0px 0px 0px 0px;
    width: 145px;
    height: 0px;
    z-index: 0;
    border-radius: 10px;
}

.optionlist.full
{
    display: block;
    position: absolute;
    background: #f5f5f5;
    margin: 41px 0px 0px -21px;
    list-style: none;
    padding: 0px 0px 0px 0px;
    width: 155px;
    height: 248px;
    border-radius: 10px;
    border: solid 2px #6767ff;
    animation-name: slide_down;
    animation-duration: 0.5s;
    z-index: 0;
    overflow: hidden;
}

@keyframes slide_down
{
    0%{
        height: 0px;
    }
    100%{
        height: 248px;
    }
}

.InputDirect
{
    font-weight: bold;
}

.InputDirectT.OFF
{
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 20px;
    border: none;
    background-color: #f5f5f5;
    font-size:15px;
    border-radius: 10px;
    outline: none;
    padding: 20px 5px 20px 20px;
    margin: 20px -4px 20px 33px;
    cursor: pointer;
    z-index: 0;
}

.InputDirectT.ON
{
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 20px;
    border: none;
    background-color: #f5f5f5;
    font-size:15px;
    border-radius: 10px;
    outline: none;
    padding: 20px 5px 20px 20px;
    margin: 22px -4px 20px 35px;
    cursor: pointer;
    z-index: 1;
    caret-color: #03ab95;
}

.InputDirectT.ON:focus
{
    display: inline-block;
    position: absolute;
    width: 130px;
    height: 20px;
    border: none;
    background-color: #f5f5f5;
    font-size:15px;
    border-radius: 10px;
    outline: none;
    padding: 20px 5px 20px 20px;
    margin: 20px -4px 20px 33px;
    cursor: pointer;
    border: solid 2px #6767ff;
    z-index: 1;
}
